.device {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
}

.switch {
  display: flex;
  align-items: center;

  &-wrapper {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 5px;
  }

  &-checkbox {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switch-slider {
      background-color: #2196f3;
    }

    &:focus + .switch-slider {
      box-shadow: 0 0 1px #2196f3;
    }

    &:checked + .switch-slider:before {
      transform: translateX(18px);
    }
  }

  &-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: '';
      height: 14px;
      width: 14px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      border-radius: 50%;
      transition: 0.4s;
    }
  }
}

.indicator {
  font-weight: bold;
  color: #f5364c;
}
